<table>
    <tr>
        <% columns.forEach(column => { %>
            <th><%= column %></th>
        <% }) %>
    </tr>
    <% rows.forEach(row => { %>
        <tr>
            <% columns.forEach(column => { %>
                <td><%= row[column] %></td>
            <% }) %>
        </tr>
    <% }) %>
</table>